html,
body {
    font-family: 'Opens sans', sans-serif;
    text-align: left;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background: (0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav ul{
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: white;
}
nav ul li {
    display: inline-block;
    margin: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}
nav ul li a {
    color: black;
    text-decoration: none;
}
nav ul li a:hover{
    color: #F1C40F;
}
.navbar-brand{
    display: inline;
    float: left;
    padding: 5px;
}
.intro{
    background-image: url(../image/foto8101_800.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0px;
    min-height: 45vh;
    padding-top: 35vh;
    text-align: center;
    opacity: 0.8;
}
.intro aside{
    color: white;
    font-size: 20px;
}
h1{
    color: #06388A;
    font-size: 60px;
}
h2{
    background-size: cover;
    font-size: 45px;
}
strong{
   color: #F1C40F;
}
h3{
    font-size: 30px;
    color: white;
}
aside{
    font-family: 'Open sans', sans-serif;
    color: white;
    font-size: 20px;
}
em{
    font-weight: 700;
}
.contacto{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: black;
    background-color: #ffffff;
    border-radius: 30px;
    border-color: white;
    float: center;
    width: 150px;
    height: 50px;
    margin: 25px;
}

.contacto:hover{
    color: #ffffff;
    background-color: #000000;
}
.cuadricula{
    justify-content: center;
    padding: 30px;
    padding-top: 1px;
}
.seccion, .section{
    display: inline-grid;
    float: left;
    padding: 10px;
    width: 45%;
}
.catalogo, .revisando{
    display: inline-grid;
    float: left;
    padding: 10px;
    width: 45%;
}
i{
 color: #F1C40F;
}
i.fas fa-ellipsis-h{
    color: aqua;
}
.boton {
    display: inline-grid;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #494949;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    margin: 35px;
}
.boton:hover{
    color: #ffffff;
    background-color: #000000;
}
.grid{
    display: inline-grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 200px 100px 100px;
    grid-column-gap: 100px;
}
.history{

    padding-top: 20px;
    padding: 40px;
    margin-top: -30px;
}
.history p{
    color: black;
    font-weight: normal;
    text-align: left;
    margin-top: 10px;
}
.history article{
    color: black;
    margin-top: 20px;
    font-weight: normal;
    text-align: justify;
}
.image{
  width: 500px;
  height: 250px;
  padding: 60px;
    opacity: 0.7;
}
footer{
    padding: 10px;
    position: relative;
    background: #000000;
    color:white;
    line-height: 50px;
    text-align: center;
}
@media only screen and ( max-width:815px){
    #navbar ul{
        border: 1px solid;
        height: 207px;
    }
    #navbar{
        background: black;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 280px;
        border: none;
        z-index: 1;
        border-bottom: 1px solid;
    }
}
